.chat {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
}

.chat-messages {
    flex: 1;
}

.chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color: lightgray;
    border-radius: 8px;
    margin: 20px;
    background-color: #474b53;
}

.chat-input > form > input {
    padding: 10px;
    background: transparent;
    border: none;
    width: 90%;
    outline: none;
    color: white;
    font-size: large;
}

.chat-input > form {
    flex: 1;
}

.chat-inputButton {
    display: none;
}

.chat-inputIcon > .MuiSvgIcon-root {
    padding: 5px;
}
